.header {
  background-color: #1f1f1f;
  color: #fff;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px;
}

.header-link {
  width: 150px;
  text-decoration: none;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  transition: all 0.2s ease-in;
  padding: 10px 10px 10px 100px;
  margin: 0 20px;
  border-bottom: solid 3px transparent;
}

.header-link:hover {
  color: #acacac;
}

.cart-btn-container {
  position: relative;
  width: 40px;
}

.cart-badge {
  position: absolute;
  top: -2px;
  right: 15px;
  width: 20px;
  height: 20px;
  background-color: #3a56c7;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  pointer-events: none;
  @apply --layout-vertical;
  @apply --layout-center-center;
}

.title {
  font-weight: 800;
  color: #313131;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.cart-icon {
  display: flex;
  justify-self: center;
  align-self: center;
}

.checkout-content {
  display: flex;
  justify-content: center;
}

.checkout-section {
  width: 500px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
  padding: 30px;
  margin-left: 20px;
}
